.card{
    border:1px solid black;
    opacity: 0.5;
    border-radius: 10px;
    align-items: center;
    

}
.card-content{
    color:aquamarine;
    text-align:center;
    padding:10px
}
.card-footer{
    text-align: center;
    padding:14px 22px;
    font: size 18px;
}
body {
    margin: 0;       
    padding: 0;
    width: 100%;
    height: 400px;
    background-image: url('https://cdn.pixabay.com/photo/2020/04/01/09/12/nature-4993385_1280.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}