/* Block-Card */
.card {
  background-color:rgb(26, 179, 230);
  padding: 30px;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px red;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  background-color:lightseagreen;
}
/* Elements styling */
.card__title
{
    font-size:25;
    margin-bottom:10px;
    /* text-align: center; */
}
.card__text {
  font-size: 16px;
  line-height: 1.6;
  color: #0a2a43;
  margin: 15px 0;
  transition: all 0.3s ease;
}

/* Hover effect jab card hover ho */
.card:hover .card__text {
  color: lightyellow;
  transform: translateX(5px);
}
.card__button {
  background: #00f5d4;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card__button:hover {
  background: black;
  color: white;
}