/* Structure */
.card{
    border: 1px solid red;
    border-radius: 8px;

}
.card-header{
    background-color: grey;
    padding:10px;
}
.card-content{
    padding:10px;
    background-color: aquamarine;
}
.card-footer{
    background-color:black;
    padding:10px;
    /* text-align: right; */

}
/* skin styling */
.button{
    background-color: grey;
    color:white;
    border:none;
    border-radius: 4px;
    cursor:pointer;
    padding: 14px 22px;
    font-size: 18px;
}