h1
{
    color:darkblue;
    text-align:center;
    background-color:#f0f0f0;
}
/* class selectors*/
.highlight
{
color:purple;
font-weight:bold;
background-color: lightyellow;
padding:10px;
border-radius:5px;;
}
/* idSelector*/
#unique-paragraph
{
    color:green;
    
    font-size:20px;
    background-color: lightgray;
    padding:15px;
    border:1px solid darkgreen;
}
.footer-text
{
    text-align: center;
  color: aqua;
  font: size 20px;
  background-color: #333;
  padding:10px 0;
  margin-top: 30px;
  
}
*{
 margin:0;
 padding:0;
 box-sizing:border-box ;
 background-color: azure;
}