#main-header
{
  background-color: #FFCC00;
  padding: 20px;
  text-align: center;
  color:#FFFF;
}
h1,h2,h3,h4,h5,h6{
    color:darkblue;
    font-family: 'Verdana','sans-serif';
    margin-bottom: 15px;
}
p{
    color:red;
}